#header {
    background-color: 	#4682B4;
    font-family: 'Piazzolla', serif;
    color: antiquewhite;
    letter-spacing: 3px;
    height:  160px;
  
}

#title {
    font-size: 60px;
    margin-top: 0px;
}

body {
    background-color: rgb(247, 244, 240);
}